[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "Drivers/CMSIS/DSP"]
	path = Drivers/CMSIS/DSP
	url = https://github.com/ARM-software/CMSIS-DSP/
