name: Build Documentation

on:
  push:
    branches: [ master ]
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Documentation
      uses: mattnotmitt/doxygen-action@v1
      with:
        doxyfile-path: doc/Doxyfile

